/*
  Author: Geff Bourke
*/

:root{
  --bg : #fafafa;
  --hover : #cfcfcf;
  --text : #000;
  --pri : #378baf;
  --sec : #15bc97;
  --bg_alt : #dae4e8;
  --shadow : #000;
}

/*Main tags*/
html{
  font-family: 'Barlow', sans-serif;
  color: var(--text);
  font-size: 16px;
}

body{
  background-image: url("/res/img/bg2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav{
  height: 50px;
  width: 1070px;
  margin: 0 auto;
  margin-top:10px;
  border-bottom: 1px solid var(--pri);
}

/*For youtube videoes*/
iframe{
  width: 100%;
  height: 100%;
  border: none;
}

h1{
  margin-top: 2px;
}

a{
  background: var(--bg_alt);
  color: var(--text);
  text-decoration: none;
}

a:hover, a.active{
  background: var(--pri);
  color: var(--bg);
}

/*
  Allows elements to be displayed beside
  eachother in a single row with no spacing
*/
.row{
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}

/*
 ----------- Navbar -----------
*/
/*Fixes the navbar to the top of the page*/
.fixed-nav{
  position: fixed;
  top: 0;
}

/*Left side of navbar*/
.nav-con{
  background: var(--bg);
  width: 1070px;
  box-shadow: 0px 3px 12px var(--shadow);
}

/*graient border under the navbar*/
.nav-con::after{
  content : "";
  display: block;
  height: 3px;
  width: 100%;
  background: var(--pri); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, var(--pri) , var(--sec)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, var(--pri), var(--sec)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, var(--pri), var(--sec)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, var(--pri) , var(--sec)); /* Standard syntax */
}

/*Items on left side of navbar*/
.nav-items{
  display: inline-block;
}

.nav-items a{
  display: inline-block;
  margin-right: -4px;
  width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
}

/*Right side of the navbar*/
.nav-social{
  display: inline-block;
  float: right;
}

/*Item on right side of the navbar*/
.nav-social a{
  display: inline-block;
  line-height: 50px;
  width: 65px;
  text-align: center;
  font-size: 18px;
  margin-left: -3px;
  margin-right: -1px;
}

/*Profile container*/
.profile{
  height: 220px;
  width: 1070px;
  margin: 50px auto;
  margin-bottom: 60px;
}

/*Left side of the container*/
.profile-img img{
  height: 220px;
  width: 220px;
}

/*Right side of the container*/
.profile-info{
  vertical-align: top;
  padding-left: 70px;
  padding-top: 15px;
  height: 100%;
  color: var(--bg);
}

/*Information in the profile*/
.profile-info table{
  margin-left: 20px;
  color: var(--bg);
}

.profile-info td{
  min-width: 160px;
  padding: 2px 2px;
}

/*Content container*/
.container{
  margin: 0 auto;
  width: 1070px;
  min-height: 500px;
  padding: 0;
  margin-bottom: 100px;
  margin-top: 30px;
}


/*
 ----------- Project Item -----------
*/
/*Project item container*/
.item{
  margin: 8px 0px;
  width: 100%;
  height: 480px;
  background :  var(--bg);
}

/*Left side of an item*/
.item-media{
  width: 700px;
  height: 100%;
}

/*Right side of an item*/
.item-info{
  width: 328px;
  height: 100%;
  display: inline-block;
  text-align: center;
  padding: 0px 20px;
  clear: left;
  border-left: 4px solid var(--bg_alt);
}

/*Large preview image or video*/
.item-preview{
  height: 390px;
}

.item-preview img{
  height: 390px;
  width: 100%;
}

/*Container for all the media items of this prpject*/
.media-list{
  height: 90px;
  width: 700px;
  background: var(--bg_alt);
  padding-left: 1px;
}

/*A media item*/
.media-item{
  height: 78px;
  width: 136px;
  padding-bottom: 3px
  cursor: pointer;
  margin-right: -2px;
  margin-left: 2px;
  margin-top: 4px;
  box-shadow: 0px 0px 8px var(--shadow);
}

.media-item:hover, .media-item.active{
  padding-bottom: 0px;
  border-bottom: 3px solid var(--sec);
}

.media-item img{
  height: 100%;
  width: 100%;
}

/*Right side of a project item container*/
.item-info ul{
  text-align: left;
  line-height: 20px;
}

/*Project date*/
.date{
  margin-bottom: 20px;
  height: 20px;
  line-height: 20px;
}

/*Description of an item*/
.desc{
  margin-top: 10px;
  font-size: 16px;
  height: 300px;
}

/*External links for a project*/
.item-buttons a{
  display: inline-block;
  height: 40px;
  color: var(--text);
  line-height: 40px;
  width: 80px;
  background: var(--bg_alt);
}

.item-buttons a:hover{
  background: var(--pri);
  color: var(--bg);
}

/*
 ----------- Footer -----------
*/
footer{
  width: 1070px;
  margin: 0 auto;

  margin-bottom: 100px;
}

footer a{
  display: block;
  width: 200px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  padding: 25px 40px;
  box-shadow: 0px 0px 10px var(--shadow);
}

.footer-icon{
  font-size: 50px;
}
