:root
{
  --pri: #0f97ed;
  --bg: #222;
  --text: #fff;
  --border: #555;
  --item_bg: #4c494c;
}

html{
  background: var(--bg);
}

body
{
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 300px;
  color: var(--text);
  background: var(--bg);
}

.navbar
{
  width: 100%;
  font-size: 28px;
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 50px;
  border-bottom: 1px solid var(--border);
  width: 300px;
  z-index: 400;
}

.navbar a, .navbar span
{
  color: var(--text);
  float: left;
  display: inline-block;
  width: 80px;
  height: 60px;
  line-height: 50px;
  text-align: center;
  line-height:60px;
}

.navbar a:hover, .navbar a:active, .navbar span:hover, .navbar span:active
{
  text-decoration: none;
  background: var(--border);
  cursor: pointer;
}

.hexagon {
  position: relative;
  width: 200px;
  height: 115.47px;
  margin: 57.74px 0;
  background-image: url(/res/img/profile.png);
  background-size: auto 219.3931px;
  background-position: center;
  border-left: solid 5px #333333;
  border-right: solid 5px #333333;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 141.42px;
  height: 141.42px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 24.29px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 190.0000px;
  height: 109.69655114602891px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-54.8483px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-54.8483px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-54.8483px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -70.7107px;
  border-top: solid 7.0711px var(--border);
  border-right: solid 7.0711px var(--border);
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -70.7107px;
  border-bottom: solid 7.0711px var(--border);
  border-left: solid 7.0711px var(--border);
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 2.8868px;
  left: 0;
  width: 190.0000px;
  height: 109.6966px;
  z-index: 2;
  background: inherit;
}

.content
{
  width: 980px;
  margin: auto;
}

.profile-img
{
  margin-left: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: inline-block;
}

.item
{
  border: 2px solid var(--border);
  width: 1060px;
  height: auto;
  display: inline-block;
  margin: 15px auto;
  padding: 4px 2px;
  background: var(--item_bg);
  display: none;
}

.item-desc
{
  display: inline-block;
  text-align: left;
  position: relative;
  width: 340px;
  height: 442px;
  margin-left: 10px;
  font-size: 18px;
}

.item-desc h2
{
  text-align: center;
}

.showcode
{
  width: 150px;
}

.item-showcase
{
  width: 690px;
  display: inline-block;
  float: left;
}

.item-showcase video
{
  display: block;
  margin: 0 auto;
  height: 100%;
}

.item-preview
{
  display: inline-block;
  float: left;
  width: 654px;
  height: 369px;
  margin: 4px 3px;
  border: 2px solid var(--border);
  background: var(--bg);
}

.item-preview-list
{
  margin-left: 3px;
}

video
{
  width: auto;
  height: auto;
}

.item-preview-list button
{
  height: 65px;
  width: 118px;
  padding: 0 0;
  margin: 0 1px;
  border: 3px solid var(--border);
  position: relative;
  float: left;
  background: var(--bg);
}

.item-preview-list button:hover
{
  border-color: var(--pri);
}

.item-preview-list img, .item-preview-list video
{
  width: 100%;
  height: 100%;
}

.item-preview img
{
 width: 650px;
 height: 365px;
}

.play-btn
{
  position: absolute;
}

.item-con
{
  width: 1060px;
}

.btn
{
  background: none;
  border: 2px solid var(--border);
  border-radius: 0px !important;
}

.btn, .btn:active, .btn:hover
{
  color: var(--text) !important;
  background: #302d2d;
}

.btn:hover
{
  border-color: var(--pri);
}

.item-btn-con
{
  position: absolute;
  bottom: 10;
  right: 0;
}

.date
{
  font-size: 14px;
  text-align: right;
  padding-right: 8px;
}

.code-preview
{
  border-top: 2px solid var(--border);
  width: 100%;
  font-size: 20px;
  padding: 8px 12px;
  margin-top: 4px;
  display: none;
  position: relative;
}

.code-preview img
{
  width: 500px;
  margin-top: 6px;
}

.hidecode
{
  position: absolute;
  bottom: 10;
  right:10;
}

.skills
{
  font-size: 18px;
  width: 900px;
  display: inline-block;
  float: right;
  margin-top: 50px;
  display: none;
  margin-left: -200px;
  position: relative;
}

.left-skill
{
  width: 140px;
}

table
{
  margin-left: 20px;
}

#catagory
{
  position: relative;
  z-index: 100;
  width: 1060px;
  background: var(--bg);
  border-bottom: 1px solid var(--pri);
}

#catagory button
{
  border: 0px;
  margin-right: -2px;
  margin-top: 18px;
  font-size: 24px;
  padding: 6px;
  width: 180px;
}

#catagory button:hover
{
  background: var(--border);
}

#catagory.sticky {
     position: fixed;
     top: 0;
}

.active, #catagory button:active
{
  background-color: var(--pri) !important;
}

.item-preview-enlarge
{
  position: relative;
  float:left;
  margin-top: -35px;
  margin-left: 618px;
}

.enlarge-modal
{
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 350;
  display: none;
}

.enlarge-con
{
  position: relative;
  width: 70vw;
  height: 70vh;
  margin-left: -50%;
  margin-top: 12vh;
  background: var(--border);
  border: 2px solid var(--border);
  z-index: 300;
}

.enlarge-con img, .enlarge-con video
{
  display: none;
  width: 100%;
  height: 100%;
}

.enlarge-con img.active, .enlarge-con video.active
{
  display: block;
  background: var(--bg) !important;
}

.modal-bg
{
  width: 100%;
  height: 100%;
  z-index: 120;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-close
{
  position: fixed;
  right: 0;
  margin-right: 15vw;
  top: 10vh;
  z-index: 360;
  width: 50px;
  height: 40px;
  text-align: right;
}

.modal-close button
{
  font-size: 18px;
  position: relative;
  height: 100%;
  width: 100%;
  line-height: 22px;
  margin-right: -54px;
  margin-top: 19px;
}

.modal-arrows
{
  position: fixed;
  font-size: 22px;
  padding-top: 2px;
  z-index: 150;
  height: 60px;
  width: 300px;
  margin-left: -150px;
  background: var(--bg);
  border: 2px solid var(--pri);
  text-align: center;
}

.modal-arrows button
{
  height: 50px;
  width: 142px;
  margin-top: 1px;
}

.email
{
  position: fixed;
  right: 0;
  top:60;
  line-height: 40px;
  height: 70px;
  padding-top: 30px;
  font-size: 18px;
  padding-left: 10px;
  width: 300px;
  background: var(--bg);
  border-bottom: 1px solid var(--border);
  text-align: left;
  z-index: 101;
  display: none;
}

.show-email.active
{
  background: red;
}

span.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}
