:root{
  --bg : #fafafa;
  --hover : #cfcfcf;
  --text : #000;
  --pri : #378baf;
  --sec : #15bc97;
  --bg_alt : #dae4e8;
  --shadow : #000;
}

html{
  font-family: 'Barlow', sans-serif;
  color: var(--text);
  font-size: 16px;
}

body{
  background-image: url("/res/img/bg2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav{
  height: 50px;
  width: 1070px;
  margin: 0 auto;
  margin-top:10px;
  border-bottom: 1px solid var(--pri);
}

iframe{
  width: 100%;
  height: 100%;
  border: none;
}

.fixed-nav{
  position: fixed;
  top: 0;
}

.nav-con{
  background: var(--bg);
  width: 1070px;
  box-shadow: 0px 3px 12px var(--shadow);
}

.nav-con::after{
  content : "";
  display: block;
  height: 3px;
  width: 100%;
  background: var(--pri); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, var(--pri) , var(--sec)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, var(--pri), var(--sec)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, var(--pri), var(--sec)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, var(--pri) , var(--sec)); /* Standard syntax */
}



.nav-items a{
  display: inline-block;
  margin-right: -4px;
  width: 140px;
  height: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  background: var(--bg);
}

.nav-items a.active, .nav-items a:hover
{
  background: var(--pri);
  color: var(--bg);
}

a{
  color: var(--text);
}

.profile{
  height: 220px;
  width: 1070px;
  margin: 50px auto;
  margin-bottom: 60px;
}

.profile-img, .profile-info{
  display: inline-block;
  margin-right: -4;
}

h1{
  margin-top: 2px;
}

.profile-info{
  vertical-align: top;
  padding-left: 70px;
  padding-top: 15px;
  height: 100%;
  color: var(--bg);
}

.profile-info table{
  margin-left: 20px;
  color: var(--bg);
}

.profile-info td{
  min-width: 160px;
  padding: 2px 2px;
}

.profile-img img{
  height: 220px;
  width: 220px;
}

.container{
  margin: 0 auto;
  width: 1070px;
  min-height: 500px;
  padding: 0;
  margin-bottom: 400px;
  margin-top: 30px;
}

.item{
  margin: 8px 0px;
  width: 100%;
  height: 475px;
  background :  var(--bg);
}

.item-media{
  width: 700px;
  height: 100%;
}

.row{
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}

.item-info{
  width: 328px;
  height: 100%;
  display: inline-block;
  text-align: center;
  padding: 0px 20px;
  clear: left;
  border-left: 4px solid var(--border);
}

.item-info ul{
  text-align: left;
}

.item-preview{
  height: 390px;
}

.item-preview img{
  height: 390px;
  width: 100%;
}

.media-list{
  height: 85px;
  width: 700px;
  background: var(--bg_alt);
  padding-left: 1px;
}

.media-item{
  height: 78px;
  width: 136px;
  border-bottom: 3px solid var(--border);
  cursor: pointer;
  margin-right: -2px;
  margin-left: 2px;
  padding-top: 2px;
  box-shadow: 0px 0px 2px var(--shadow);
}

.media-item:hover, .media-item.active{
  border-color: var(--sec);
}

.media-item img{
  height: 100%;
  width: 100%;
}

.date{
  margin-bottom: 20px;
  height: 20px;
  line-height: 20px;
}

.desc{
  margin-top: 10px;
  font-size: 16px;
}
